<tr class="{CSS_ROW}">
	<td class="std">
		<input type="checkbox" name="files[]" value="{VAL_ID}" {VAL_CHECKED} />
	</td>
	<td class="std">
		<!-- BEGIN title_plain -->{VAL_TITLE}<!-- END title_plain -->
		<!-- BEGIN title_link --><a href="{VAL_TITLE_HREF}">{VAL_TITLE_LINK}</a><!-- END title_link -->
		<!-- BEGIN path --><div class="small">{PATH}</div><!-- END path -->
	</td>
	<td class="std">
		{VAL_REFERENCED}
	</td>
	<td class="std">
		{VAL_SYNCED}
	</td>
	<td class="std">
		{VAL_DELETED}
	</td>
</tr>
