<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align: top">
		<input type="checkbox" name="{VAL_POSTNAME}[]" value="{VAL_ID}" {VAL_CHECKED} />
	</td>
	<td class="std" style="vertical-align: top">
		{VAL_LOGIN}
		<!-- BEGIN access_warning -->
		<br />
		<font class="smallred">
			{PARENT_ACCESS}
		</font>
		<!-- END access_warning -->
	</td>
	<td class="std" style="vertical-align: top">
		{VAL_NAME}
	</td>
	<td class="std" style="vertical-align: top;">
		<img alt="{UNLOCKED_ALT}" title="{UNLOCKED_ALT}" src="{UNLOCKED_IMG}"/>
	</td>
</tr>
