{FREQUENCE}
<table class="nobackground">
	<tbody>
		<!--  BEGIN until_selection_unlimited -->
		<tr id="sub_UNTIL_1">
			<td class="std" style="padding-left: 40px">
				<input id="sub_until_radio_1" type="radio" {UNTIL_NO_CHECKED} name="until_type" value="1" /> <label for="sub_until_radio_1">{TXT_NO_ENDING}</label>
			</td>
		</tr>
		<!-- END until_selection_unlimited -->
		<tr id="sub_UNTIL_3">
			<td class="std" style="padding-left: 40px">
				<input id="sub_until_radio_3" type="radio" {UNTIL_END_CHECKED} name="until_type" value="3 /><label for="sub_until_radio_3">{TXT_UNTIL_END} {UNTIL_END_DATE}</label>
			</td>
		</tr>
		<!-- BEGIN until_fixed -->
		<tr id="sub_UNTIL_1">
			<td class="std" style="padding-left: 40px" nowrap="nowrap">
				{TXT_FIXED_UNTIL_CREATE} <input type="text" size="2" maxlength="2" name="count" value="{VAL_FIXED_COUNT}" /> {TXT_FIXED_APPOINTMENTS}
			</td>
		</tr>
		<!-- END until_fixed -->
	</tbody>
</table>

<script>
	$( document ).ready(function() {
		ilHideFrequencies();
	});
</script>